<div class='container'>
  <div class'row'>

    <div class='shop-main-visual'>

      <div class="search-form">
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, value: @keyword %>
          <button type="submit" class="search-btn">
            <i class="fas fa-search" aria-hidden="true"></i>
          </button>
        <% end %>
      </div>

    </div>

  </div>


  


  <div class="row">
    
    <div class="col-lg-9 col-xs-12 mt-4">
      <%= render 'user/shops/index', shops: @shops %>
    </div>
    
    <div class="col-lg-3 col-xs-12 mt-4">
      <h4 class='title'>タグリスト</h4>
      <i class="fas fa-tags"></i>
      <% @tag_list.each do |list| %>
        <%= link_to list.tag_name, tag_shops_path(tag_id: list.id), class: "btn btn-sm btn-outline-info" %>
      <% end %>
    </div>
    
  </div>

</div>