<div class="jumbotron top-image" style="width:100%;">
  <div class="search-form">
    <div class="mb-3">贅沢なひとり時間へ...</div>
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
      <button type="submit" class="search-btn">
        <i class="fas fa-search" aria-hidden="true"></i>
      </button>
    <% end %>
  </div>
</div>