<div class='follow-link'>
  <table>
    <tr>
      <th>follow</th>
      <th>follower</th>
    </tr>
    <tr>
      <td class="text-center"><%= link_to @user.following.count, followings_user_path(@user) %></td>
      <td class="text-center"><%= link_to @user.followers.count, followers_user_path(@user) %></td>
    </tr>
  </table>
</div>