/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.top-image {
  width: 100%;
  height: 800px;
  background-image: image-url('top-image.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 300px;
  margin-bottom: 0;
}


div {
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  height: 50px;
  width: 100%;
  background-color: #FFF;
  opacity: 0.8;
  // background-image: url(img/header-image.png);
  background-attachment: fixed;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #FFF;
  opacity: 1;
}

.footer-area{
  height: 50px;
  width: 100%;
}

.page-title {
 font-size: 32px;
}

li {
  list-style: none;
}

/* リンクの色: 黒、下線付与 */
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

/* ナビゲーションバーの下線はなし */
nav a {
  text-decoration: none;
}

// 新規投稿
.new-post {
  position: fixed; /* 要素の位置を固定する */
  bottom: 20px; /* 基準の位置を画面の一番下に指定する */
  right: 50px; /* 基準の位置を画面の一番右に指定する */
  width: 100px; /* 幅を指定する */
}

// form
div.form-area {
    margin-top: 30px;
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: .25rem;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.tag-style {

}