/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

div {
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  width: 100%;
  background-color: #800000;
  opacity: 0.8;
  background-attachment: fixed;
}

footer {
  width: 100%;
  height: 100px;
}

.footer-sm {
  height: 100px;
  width: 100%;
  background-color: #FFF;
  font-size: 65px;
  border-top: 1px solid gray;
  margin-top: 1px;
}

.footer-pc {
  height: 100px;
  width: 100%;
  font-size: 15px;
  background-color: #FFF;
  opacity: 0.5;
  padding-top: 70px;
}

.top-page{
  width: 100%;
  height: 100%;
}

.page-title {
 font-size: 32px;
}

li {
  list-style: none;
}

/* リンクの色: 黒、下線付与 */
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  // text-decoration: none;
}

/* ナビゲーションバーの下線はなし */
nav a {
  text-decoration: none;
  color: #FFF;
}


// form
div.form-area {
    margin-top: 30px;
    padding: 8px;
    // border: 1px solid #aaa;
    // border-radius: .25rem;
    box-shadow: 0px 3px 10px rgba(0,0,0,.8)
    // font-size: 0.9rem;
    // margin-bottom: 1rem;
  }

.follow-link {
  font-weight: bold;
}

// カルーセル画像の中央トリミング
.carousel-inner img{
  height: 300px;
  object-fit: cover;
}

// エラーメッセージ
.errors-area {
  color: red;
}

.pagination{
  margin-right: 0;
  display: flex;
  justify-content: flex-start;
}

.blur{
	animation-name:blurAnime;
	animation-duration: 0.5s;
	animation-fill-mode:forwards;
}

#wrap {
  overflow: hidden;
}