// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-search {
  margin-top: 250px;
}

.jumbotron {
  padding: 0;
}

.carousel-item {
  background-color: #FFF;
}