<div class='container'>
  <div class="row g-3">
    <div class="form-area col-lg-6 p-5 mx-auto">
      <h4 class="mb-4 text-center">新着通知</h4>
      <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
      <% if notifications.exists? %>
        <%= render notifications %>
        <%= paginate notifications %>
      <% else %>
        通知はありません
      <% end %>
    </div>
  </div>
</div>