// Place all the styles related to the user/tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tweets_area {
  width: 100%;
  height: 300px;
  background-color: #fff;
  overflow: scroll;
}

/* スクロールの幅の設定 */
#scroll_box::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* スクロールの背景の設定 */
#scroll_box::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa inset;
}

/* スクロールのつまみ部分の設定 */
#scroll_box::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #A0522D;
}